$primary-color: #393939;
$secondary-color: rgb(68, 118, 212);
$text-color: white;
$font-weight: (
    "regular": 400,
    "medium": 500,
    "bold": 800
);
$name-font-size: 1.1rem;
$time-font-size: 1rem;
$border-c: rgb(65, 64, 64);
$fb-clr: #376cdd;
$mrg-btn: 1rem;
$chat-bg-clr: rgb(26, 26, 26);
$snackbar-clr: #131313;