* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.login {
  width: 100%;
  height: 100vh;
  padding: 0rem 10rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  transform: translateY(-12%);
}
.login *:hover,
.login *:active,
.login *:focus {
  outline: none;
}
.login select {
  border: none;
}
.login_text {
  color: #376cdd;
  max-width: 450px;
}
.login_text #headin {
  font-size: 3.8rem;
  margin-bottom: 0.6rem;
  letter-spacing: 2px;
}
.login_text #para {
  color: white;
  opacity: 0.86;
  font-size: 1.6rem;
  line-height: 2.2rem;
  word-spacing: 3px;
}
.login .login_box {
  border: 4px solid rgb(65, 64, 64);
  border-color: #5b5959;
  padding: 1.2rem 1rem;
  width: 32%;
  position: relative;
  border-radius: 8px;
  transform: translateY(6%);
}
.login .login_box .input_fields {
  display: flex;
  flex-direction: column;
  justify-content: none;
  align-items: none;
}
.login .login_box .input_fields #email {
  font-size: 1.2rem;
  padding: 1.2rem 1rem;
  border-radius: 6px;
  border: none;
  margin-bottom: 1rem;
}
.login .login_box .input_fields #password {
  font-size: 1.2rem;
  padding: 1.2rem 1rem;
  border-radius: 6px;
  border: none;
  margin-bottom: 1rem;
  margin-bottom: 2rem;
}
.login .login_box .button {
  border-bottom: 2px solid rgb(65, 64, 64);
  margin-bottom: 1.4rem;
}
.login .login_box .button #login_button, .login .login_box .button #lock {
  color: white;
  opacity: 0.86;
  background-color: #376cdd;
  width: 100%;
  padding: 0.8rem;
  border-radius: 6px;
  font-size: 1.26rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 1rem;
  transition: 150ms ease-in;
}
.login .login_box .button #login_button:hover, .login .login_box .button #lock:hover {
  background-color: #4879e0;
}
.login .login_box .button #lock {
  background-color: #122e69;
  color: #b3b3b3;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: auto;
}
.login .login_box .button #forgot_password_button {
  width: 100%;
  background-color: transparent;
  display: block;
  text-align: center;
  color: #376cdd;
  border: none;
  margin-bottom: 1rem;
}
.login .login_box .button #forgot_password_button:hover {
  text-decoration: underline;
}
.login .login_box .create_button {
  text-align: center;
  margin-bottom: 1rem;
}
.login .login_box .create_button #create_account_button {
  color: white;
  opacity: 0.86;
  background-color: green;
  width: auto;
  padding: 0.8rem;
  border-radius: 6px;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  border: none;
  transition: 150ms ease-in;
}
.login .login_box .create_button #create_account_button:hover {
  background-color: #009400;
  border: none;
}
.login .register {
  z-index: 1000;
  width: inherit;
  height: 124%;
  background-color: rgba(0, 0, 0, 0.65) !important;
  position: absolute;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.login .register .register_box {
  font-size: 1.1rem;
  width: 100%;
  transform: translateY(38%);
  height: auto;
  display: flex;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.login .register .register_box .register_box_contents {
  background-color: rgb(26, 25, 25);
  border: 4px solid rgb(65, 64, 64);
  border-radius: 6px;
  width: 36%;
  padding: 1rem 0.8rem;
}
.login .register .register_box .register_box_contents .register_form {
  font-size: 1.4rem;
}
.login .register .register_box .register_box_contents .register_form .register_head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
  margin-bottom: 1.5rem;
}
.login .register .register_box .register_box_contents .register_form .text_fields {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.login .register .register_box .register_box_contents .register_form .text_fields .name_field {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.login .register .register_box .register_box_contents .register_form .text_fields input {
  font-size: 1.2rem;
  padding: 1.2rem 1rem;
  border-radius: 6px;
  border: none;
  margin-bottom: 1rem;
  width: 100%;
}
.login .register .register_box .register_box_contents .register_form .text_fields input[type=text] {
  width: 48%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.login .register .register_box .register_box_contents .register_form .select_fields {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin-top: 0.4rem;
}
.login .register .register_box .register_box_contents .register_form .select_fields .selection_fields {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.login .register .register_box .register_box_contents .register_form .select_fields .selection_fields .selection_names {
  margin-right: 0.8rem;
}
.login .register .register_box .register_box_contents .register_form .select_fields .selection_fields .options {
  font-size: 1rem;
  padding: 0.4rem 0.6rem;
  border-radius: 6px;
  width: inherit;
}
.login .register .register_box .register_box_contents .register_form .radio_fields {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 1.4rem 0rem 1.2rem 0rem;
}
.login .register .register_box .register_box_contents .register_form .radio_fields #radio_header {
  font-size: 1.1rem;
}
.login .register .register_box .register_box_contents .register_form .radio_fields .radio_field {
  font-size: 1.3rem;
  width: 42%;
  border: 2px solid rgb(65, 64, 64);
  padding: 0.4rem;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.login .register .register_box .register_box_contents .register_form .radio_fields .radio_field label {
  cursor: pointer;
  width: 100%;
}
.login .register .register_box .register_box_contents .register_form .policies {
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  font-size: 0.8rem;
  color: rgb(65, 64, 64);
  line-height: 1rem;
  height: 4.6rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.4rem;
}
.login .register .register_box .register_box_contents .register_form .sup_button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 0.4rem;
}
.login .register .register_box .register_box_contents .register_form .sup_button #sign_button {
  color: white;
  opacity: 0.86;
  background-color: #376cdd;
  width: 64%;
  padding: 0.8rem;
  border-radius: 6px;
  font-size: 1.3rem;
  font-weight: bold;
  text-align: center;
}/*# sourceMappingURL=login.css.map */